<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCzjmN1sa1Amm0q0cj0uGIl2oq2EEoeJA8</string>
	<key>GCM_SENDER_ID</key>
	<string>287365888541</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.simpleChat</string>
	<key>PROJECT_ID</key>
	<string>chat-app-b8fb9</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-b8fb9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:287365888541:ios:533f134ce6109602f224f4</string>
</dict>
</plist>